src/mcp_zus/okwud/schemas/okwud_2020_12_29.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oso="http://crd.gov.pl/xml/schematy/osoba/2009/11/16/" xmlns:adr="http://crd.gov.pl/xml/schematy/adres/2009/11/09/" xmlns:inst="http://crd.gov.pl/xml/schematy/instytucja/2009/11/16/" xmlns:str="http://crd.gov.pl/xml/schematy/struktura/2009/11/16/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:meta="http://crd.gov.pl/xml/schematy/meta/2009/11/16/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://crd.gov.pl/wzor/2020/12/29/10229/" targetNamespace="http://crd.gov.pl/wzor/2020/12/29/10229/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://crd.gov.pl/xml/schematy/adres/2009/11/09/" schemaLocation="http://crd.gov.pl/xml/schematy/adres/2009/11/09/adres.xsd"/>
	<xs:import namespace="http://crd.gov.pl/xml/schematy/osoba/2009/11/16/" schemaLocation="http://crd.gov.pl/xml/schematy/osoba/2009/11/16/osoba.xsd"/>
	<xs:import namespace="http://crd.gov.pl/xml/schematy/meta/2009/11/16/" schemaLocation="http://crd.gov.pl/xml/schematy/meta/2009/11/16/meta.xsd"/>
	<xs:import namespace="http://crd.gov.pl/xml/schematy/instytucja/2009/11/16/" schemaLocation="http://crd.gov.pl/xml/schematy/instytucja/2009/11/16/instytucja.xsd"/>
	<xs:import namespace="http://crd.gov.pl/xml/schematy/struktura/2009/11/16/" schemaLocation="http://crd.gov.pl/xml/schematy/struktura/2009/11/16/struktura.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd"/>
	<xs:element name="Dokument" type="DokumentTyp"/>
	<xs:complexType name="DokumentTyp">
		<xs:sequence>
			<xs:element name="OpisDokumentu" type="str:OpisDokumentuTyp"/>
			<xs:element name="DaneDokumentu" type="str:DaneDokumentuTyp"/>
			<xs:element name="TrescDokumentu" type="TrescDokumentuTyp"/>
			<xs:element ref="ds:Signature" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrescDokumentuTyp">
		<xs:complexContent>
			<xs:extension base="str:TrescDokumentuTyp">
				<xs:sequence>
					<xs:element name="DaneIdentyfikacyjneWnioskodawcy" type="DaneIdentyfikacyjneWnioskodawcyTyp" minOccurs="0"/>
					<xs:element name="DaneAdresoweWnioskodawcy" type="AdresWnioskodawcyTyp" minOccurs="0"/>
					<xs:element name="RodzajWnioskodawcy" type="RodzajWnioskodawcyTyp" minOccurs="0"/>
					<xs:element name="OdwolanieDoNumeruSprawy" type="OdwolanieDoNumeruSprawyTyp" minOccurs="0"/>
					<xs:element name="PodstawaPrawna" type="PodstawaPrawnaTyp" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="WskazaniePrzeznaczeniaDanych" type="WskazaniePrzeznaczeniaDanychTyp" minOccurs="0"/>
					<xs:element name="DaneIdentyfikacyjneKontaUdostepnioneDane" type="DaneIdentyfikacyjneDlaUdostepnianychDanychTyp" minOccurs="0"/>
					<xs:element name="DaneAdresoweKontaUdostepnioneDane" type="DaneAdresoweDlaUdostepnianychDanychTyp" minOccurs="0"/>
					<xs:element name="ZakresZadanychDanych" type="ZakresZadanychDanychTyp" minOccurs="0"/>
					<xs:element name="Data" type="xs:date" minOccurs="0"/>
					<xs:element name="LiczbaZalacznikow" type="LiczbaZalacznikowTyp" minOccurs="0"/>
					<xs:element name="Zalaczniki" type="str:ZalacznikiTyp" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DaneIdentyfikacyjneWnioskodawcyTyp">
		<xs:sequence>
			<xs:element name="NIP" type="NIPTyp" minOccurs="0"/>
			<xs:element name="REGON" type="REGONTyp" minOccurs="0"/>
			<xs:element name="NazwaSkrocona" type="NazwaSkroconaTyp" minOccurs="0"/>
			<xs:element name="NazwaPelna" type="NazwaPelnaTyp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdresWnioskodawcyTyp">
		<xs:sequence>
			<xs:element name="KodPocztowy" type="KodPocztowyTyp" minOccurs="0"/>
			<xs:element name="Poczta" type="adr:PocztaTyp" minOccurs="0"/>
			<xs:element name="GminaDzielnica" type="adr:GminaTyp" minOccurs="0"/>
			<xs:element name="Miejscowosc" type="MiejscowoscTyp" minOccurs="0"/>
			<xs:element name="Ulica" type="UlicaTyp" minOccurs="0"/>
			<xs:element name="NumerDomu" type="NumerDomuTyp" minOccurs="0"/>
			<xs:element name="NumerLokalu" type="NumerLokaluTyp" minOccurs="0"/>
			<xs:element name="NumerTelefonu" type="TelefonTyp" minOccurs="0"/>
			<xs:element name="AdresPocztyElektronicznej" type="EmailTyp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DaneIdentyfikacyjneDlaUdostepnianychDanychTyp">
		<xs:sequence>
			<xs:element name="NIP" type="NIPTyp" minOccurs="0"/>
			<xs:element name="REGON" type="REGONTyp" minOccurs="0"/>
			<xs:element name="PESEL" type="oso:PESELTyp" minOccurs="0"/>
			<xs:element name="RodzajDokumentuTozsamosci" type="RodzajDokumentuTyp" minOccurs="0"/>
			<xs:element name="SeriaINumerDokumentu" type="NrDowoduTozsamosciTyp" minOccurs="0"/>
			<xs:element name="NazwaSkrocona" type="NazwaSkroconaTyp" minOccurs="0"/>
			<xs:element name="NazwaPelna" type="NazwaPelnaTyp" minOccurs="0"/>
			<xs:element name="Nazwisko" type="NazwiskoTyp" minOccurs="0"/>
			<xs:element name="ImiePierwsze" type="ImieTyp" minOccurs="0"/>
			<xs:element name="DataUrodzenia" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DaneAdresoweDlaUdostepnianychDanychTyp">
		<xs:sequence>
			<xs:element name="KodPocztowy" type="ZagranicznyKodPocztowyTyp" minOccurs="0"/>
			<xs:element name="Poczta" type="adr:PocztaTyp" minOccurs="0"/>
			<xs:element name="GminaDzielnica" type="adr:GminaTyp" minOccurs="0"/>
			<xs:element name="Miejscowosc" type="MiejscowoscTyp" minOccurs="0"/>
			<xs:element name="Ulica" type="UlicaTyp" minOccurs="0"/>
			<xs:element name="NumerDomu" type="NumerDomuTyp" minOccurs="0"/>
			<xs:element name="NumerLokalu" type="NumerLokaluTyp" minOccurs="0"/>
			<xs:element name="NumerTelefonu" type="TelefonTyp" minOccurs="0"/>
			<xs:element name="SymbolPanstwa" type="adr:KrajTyp" minOccurs="0"/>
			<xs:element name="NazwaPanstwa" type="NazwaPanstwaTyp" minOccurs="0"/>
			<xs:element name="AdresPocztyElektronicznej" type="EmailTyp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ZakresZadanychDanychTyp">
		<xs:sequence>
			<xs:element name="DaneAdrOrazInfoNaTematZgloszDoUb" type="DaneAdrOrazInfoNaTematZgloszDoUbTyp" minOccurs="0"/>
			<xs:element name="InfoUzupOPlatnikachSkladekOsoby" type="InfoUzupOPlatnikachSkladekOsobyTyp" minOccurs="0"/>
			<xs:element name="SwiadczIZasilPobieranePrzezOsobe" type="SwiadczIZasilPobieranePrzezOsobeTyp" minOccurs="0"/>
			<xs:element name="InneDane" type="InneDaneTyp" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DaneAdrOrazInfoNaTematZgloszDoUbTyp">
		<xs:sequence>
			<xs:element name="Adresy" type="xs:boolean" minOccurs="0"/>
			<xs:element name="TelefonyKontaktowe" type="xs:boolean" minOccurs="0"/>
			<xs:element name="Rachunki" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RodzajeTytulyOkresyUbezpDaneEwidAdrIdent" type="xs:boolean" minOccurs="0"/>
			<xs:element name="DaneRaportowRozliczeniowych" type="xs:boolean" minOccurs="0"/>
			<xs:element name="InformacjaOZgonie" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfoUzupOPlatnikachSkladekOsobyTyp">
		<xs:sequence>
			<xs:element name="DaneEwidAdrWszystkichAktualnychPlatnikow" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SwiadczIZasilPobieranePrzezOsobeTyp">
		<xs:sequence>
			<xs:element name="InformacjeOSwiadczeniach" type="xs:boolean" minOccurs="0"/>
			<xs:element name="RachunekOstatniaWyplataSwiadczenia" type="xs:boolean" minOccurs="0"/>
			<xs:element name="AdresPocztowyOstatniPrzekazSwiadczenia" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RodzajWnioskodawcyTyp">
		<xs:choice>
			<xs:element name="RodzajWnioskodawcyWybor" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Kod instytucji uprawnionej do złożenia wniosku</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RodzajWnioskodawcyInny" type="RodzajWnioskodawcyInnyTyp" minOccurs="1"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="PESELTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="|\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REGONTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="|\d{14}|\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NIPTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="|\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NazwaSkroconaTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NazwaPelnaTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InneDaneTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RodzajWnioskodawcyInnyTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PodstawaPrawnaTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OdwolanieDoNumeruSprawyTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LiczbaZalacznikowTyp">
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WskazaniePrzeznaczeniaDanychTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KodPocztowyTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
			<xs:pattern value="\d{2}-\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZagranicznyKodPocztowyTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NazwaPanstwaTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumerDomuTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MiejscowoscTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="26"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumerLokaluTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UlicaTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="65"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TelefonTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="[+\- \(\)0-9]{0,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RodzajDokumentuTyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NrDowoduTozsamosciTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NazwiskoTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImieTyp">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EmailTyp">
		<xs:annotation>
			<xs:documentation>E-mail</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z._+&amp;\\/\-]*[0-9a-zA-Z]+@([0-9a-zA-Z_\\/\-]+[.])+[a-zA-Z]{2,6}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>